<h1>This is detail page.</h1>

<h2>{{details.title}}</h2>
<p>{{details.pub_date}}</p>
<p>{{details.body}}</p>
<a href = "{% url 'delete' details.id %}"> delete </a>
<a href ="{% url 'update' details.id %}">edit</a>
<a href="{% url 'home' %}">home으로</a>

<div class='container' style='text-align:center';>
    <!-- #작성된 comment 보여주기 -->
    <h2><strong>Comments</strong></h2>
    <!-- details라는 객체에 종속되는 comments객체를 불러서 사용한다. (comment model의 related_name을 사용한다.) -->
    {% for comment in details.comments.all %}
        <span>글쓴날짜</span>{{comment.created_date}}<br>
        <span>글쓴이</span><strong>{{comment.comment_author}}</strong><br>
        <span>글쓴내용</span><p>{{comment.comment_contents}}</p>
        <a href = "{% url 'comment_delete' details.id comment.id %}">delete comments</a><br><br>
    <!-- comment 객체가 하나라도 없으면 아래 출력 -->
    {% empty %}
        <p>No comments here yet </p>
    {% endfor %}
    <!-- comment 입력받는 폼 생성 -->
    <h2><strong>Create Comments</strong></h2>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="comment_author" placeholder="이름" ><br><br>
            <textarea name="comment_contents" placeholder="댓글내용"></textarea><br>
            <button type="submit">등록</button>
        </form>
    </div>
</div>